body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #565656; }

* {
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

a {
  text-decoration: none;
  color: #007cbb; }
  a:hover {
    color: #006395; }

.noscript {
  display: block; }

.application {
  display: none; }
